.main_page {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 200px 750px;
}

.sidebar {
  grid-row: 1 / 6;
  background-color: rgb(0, 162, 255);
  color: white;
}

.header {
  display: grid;
}

.info_screen {
  background-color: lightgray;
}